
<div class="uk-margin-remove-top " uk-dropdown="mode: click; animation: uk-animation-slide-right-small; duration: 70" >
    <ul class="uk-list uk-padding-small uk-height-auto" uk-overflow-auto>
        <li class="uk-active uk-margin-bottom">✔ Всі регіони</li>
        <li><a href="#">Київ</a></li>
        <li class="uk-margin-bottom"><a href="#">Київська область</a></li>
        <li>Вінницька область</li>
        <li>Волинська область</li>
        <li><a href="#">Дніпропетровська область</a> 1</li>
        <li><a href="#">Донецька область</a></li>
        <li><a href="#">Житомирська область</a></li>
        <li><a href="#">Закарпатська область</a> 1</li>
        <li><a href="#">Запорізька область</a></li>
        <li><a href="#">Івано-Франківська область</a> 78</li>
        <li><a href="#">Кіровоградська область</a></li>
        <li><a href="#">Крим АР</a></li>
        <li><a href="#">Луганська область</a></li>
        <li><a href="#">Львівська область</a> 3</li>
        <li><a href="#">Миколаївська область</a></li>
        <li><a href="#">Одеська область</a></li>
        <li><a href="#">Полтавська область</a></li>
        <li><a href="#">Рівненська область</a> 7</li>
        <li><a href="#">Сумська область</a></li>
        <li><a href="#">Тернопільська область</a></li>
        <li><a href="#">Харківська область</a></li>
        <li><a href="#">Херсонська область</a></li>
        <li><a href="#">Хмельницька область</a></li>
        <li><a href="#">Черкаська область</a></li>
        <li><a href="#">Чернігівська область</a></li>
        <li><a href="#">Чернівецька область</a></li>
    </ul>
</div>