<!-- This is the modal of regions -->
<div id="modal-regions" uk-modal >
    <div class="uk-modal-dialog uk-padding-small" >
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body uk-padding-remove" uk-overflow-auto>
            <ul class="uk-list uk-column-1-2@s">
                <li class="uk-margin-bottom"><a href="#" class="uk-link-reset">Всі регіони</a> </li>
                <li><a href="#" class="uk-link-reset"></a>Київ</a><span class="uk-margin-small-left  uk-text-small">21</span> </li>
                <li class="uk-margin-bottom uk-text-bold">Київська область<span class="uk-margin-small-left  uk-text-small">28</span></li>
                <li class="uk-text-muted">Вінницька область</li>
                <li class="uk-text-muted">Волинська область</li>
                <li><a href="#" class="uk-link-reset">Дніпропетровська область</a><span class="uk-margin-small-left  uk-text-small">1</span></li>
                <li class="uk-text-muted">Донецька область</li>
                <li class="uk-text-muted">Житомирська область</li>
                <li><a href="#" class="uk-link-reset">Закарпатська область</a><span class="uk-margin-small-left  uk-text-small">1</span></li>
                <li class="uk-text-muted">Запорізька область</li>
                <li><a href="#" class="uk-link-reset" >Івано-Франківська область</a><span class="uk-margin-small-left  uk-text-small">78</span></li>
                <li class="uk-text-muted">Кіровоградська область</li>
                <li class="uk-text-muted">Крим АР</li>
                <li class="uk-text-muted">Луганська область</li>
                <li><a href="#" class="uk-link-reset" >Львівська область</a><span class="uk-margin-small-left  uk-text-small">3</span></li>
                <li class="uk-text-muted">Миколаївська область</li>
                <li class="uk-text-muted">Одеська область</li>
                <li class="uk-text-muted">Полтавська область</li>
                <li><a href="#" class="uk-link-reset" >Рівненська область</a><span class="uk-margin-small-left  uk-text-small">7</span></li>
                <li class="uk-text-muted">Сумська область</li>
                <li class="uk-text-muted">Тернопільська область</li>
                <li class="uk-text-muted">Харківська область</li>
                <li class="uk-text-muted">Херсонська область</li>
                <li class="uk-text-muted" >Хмельницька область</li>
                <li class="uk-text-muted">Черкаська область</li>
                <li class="uk-text-muted">Чернігівська область</li>
                <li class="uk-text-muted">Чернівецька область</li>
            </ul>
        </div>
    </div>
</div>