
		
			{{#if adv-right}}
			<div class="uk-width-medium">
				<img src="img/adv_240x300.png" style="border:0" alt="">
			</div><!--/advBlock-->
			{{/if}}

			

			<div class="uk-padding-small uk-background-muted uk-width-medium uk-margin-remove" style="background-color: #D9E6F5">
				<p class="uk-text-xsmall uk-text-uppercase uk-text-bold">Скоро</p>
				<p class="uk-text-break"><strong>10 сентября 2016</strong>, Черкасская область
				Презентацію фірм, виставку машин, демонстрацію с/г техніки пропонує <a href="event-page.html">«День поля Німецького аграрного центра в Україні»</a></p>

				<p class="uk-text-break"><strong>23...25 сентября 2016</strong>, Киев Международная специализированная выставка <a href="event-page.html">«МаслоЖировая Индустрия 2015»</a></p>
				<a href="events.html"><span class="uk-margin-small-right uk-icon" uk-icon="icon: calendar"></span>Календарь выставок</a>
			</div><!--/neventBlock-->

			<div class="uk-padding-small uk-background-muted uk-width-medium">
				<p class="uk-text-bold"><a href="news.html">Новости отрасли</a></p>
				<p><a href="event-page.html">Відкриття експериментальної лабораторії</a> : 12 июля</p>
				<p><a href="event-page.html">Глобинський м’ясокомбінат — підрпиємство, яке працює на перспективу</a> : 21 августа</p>
				<p class="uk-margin-remove"><a href="event-page.html">Рынок мороженого 2016: итоги полугодия</a> : 28 августа</p>
			</div><!--/newsBlock-->

			<div class="uk-padding-small uk-background-muted uk-width-medium">
				<p class="uk-text-bold"><a href="articles.html">Статьи</a></p>
				<p><a href="event-page.html">Відкриття експериментальної лабораторії</a></p>
				<p><a href="event-page.html">Глобинський м’ясокомбінат — підрпиємство, яке працює на перспективу</a></p>
				<p class="uk-margin-remove"><a href="event-page.html">Рынок мороженого 2016: итоги полугодия</a></p>
			</div><!--/articlesBlock-->





