<!-- Pagination -->
<ul class="uk-pagination">
    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: arrow-left; ratio: 1.2"></span><span class="uk-visible@s">попередня</span></a></li>
    <li class="uk-margin-auto-left"><a href="#">наступна сторінка<span class="uk-margin-small-left"  uk-icon="icon: arrow-right; ratio: 1.2"></span></a></li>
</ul>

<ul class="uk-pagination uk-flex-center" uk-margin>
    <li><a href="#">1</a></li>
    <li class="uk-active"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
     <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">24</a></li>
</ul>