//
// Component: Padding
//
// ========================================================================


// Variables
// ========================================================================

/* ========================================================================
   Component: Padding
 ========================================================================== */

.uk-padding-vertical { 
	padding-top: $padding-padding; 
	padding-bottom: $padding-padding;
	}



/* Desktop and bigger */
@media (min-width: $breakpoint-small) {

}


// Miscellaneous
// ========================================================================

// @mixin hook-padding-misc(){}