<div class="uk-margin-medium-bottom">
	<div class="uk-container uk-margin-small-bottom">
		<a href="product-list.html" class="uk-text-bold uk-text-small">Хлебопекарское сырье</a>
	</div>

	<div uk-slider="sets: true">
		<div class="uk-container uk-position-relative uk-visible-toggle" tabindex="-1">    	
			<ul class="uk-slider-items uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-1-5@m uk-child-width-1-6@l uk-text-xsmall" uk-grid >
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-1.jpg" alt="">
							</div>	 
						</div>
						Улучшитель хлебопекарный «Экстра Волюм»
					</a>
					<div class="uk-text-bold uk-margin-small-top">1 грн./кг</div>     
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-2.jpg" alt="">
							</div>	 
						</div>
						Премиксы для хлеба
					</a>    
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-3.jpg" alt="">
							</div>	 
						</div>
						Дрожжи сухие Pasha
					</a>
					<div class="uk-text-bold uk-margin-small-top">12 грн./шт.</div>   
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-4.jpg" alt="">
							</div>	 
						</div>
						Солод сухой ржаной ферментированный, Беларуссия
					</a>   
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-3.jpg" alt="">
							</div>	 
						</div>
						Дрожжи сухие Pasha
					</a>
					<div class="uk-text-bold uk-margin-small-top">12 грн./шт.</div>   
				</li>

				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-4.jpg" alt="">
							</div>	 
						</div>
						Солод сухой ржаной ферментированный, Беларуссия
					</a>   
				</li>
			</ul>

			<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top"></ul>			
		</div>
	</div><!--/productsSlider-->
</div><!--/productsBlock-->

<div class="uk-margin-medium-bottom">
	<div class="uk-container uk-margin-small-bottom">
		<a href="product-list.html" class="uk-text-bold uk-text-small">Пищевая тара и упаковка</a>
	</div>

	<div uk-slider="sets: true">
		<div class="uk-container uk-position-relative uk-visible-toggle" tabindex="-1">    	
			<ul class="uk-slider-items uk-grid-medium uk-child-width-1-2 uk-child-width-1-4@s uk-child-width-1-5@m uk-child-width-1-6@l uk-text-xsmall" uk-grid >
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" style="height:100%" src="img/p-5.jpg" alt="">
							</div>	 
						</div>
						Пластиковые банки
					</a>
					<div class="uk-text-bold uk-margin-small-top">3.40 грн./шт.</div>    
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-6.jpg" alt="">
							</div>	 
						</div>
						Выдувное оборудование
					</a>
					<div class="uk-text-bold uk-margin-small-top">12 грн./шт.</div>    
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-7.jpg" alt="">
							</div>	 
						</div>
						Комбинированная квадратная коробочка
					</a>   
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-8.jpg" alt="">
							</div>	 
						</div>
						Гофротара, гофрокартон
					</a>  
				</li>
				
				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center " src="img/p-6.jpg" alt="">
							</div>  
						</div>
						Выдувное оборудование
					</a>
					<div class="uk-text-bold uk-margin-small-top">12 грн./шт.</div>  
				</li>

				<li>
					<a class="uk-transition-toggle uk-text-break" href="product-page.html">
						<div class="uk-text-center uk-margin-small-bottom" style="overflow:hidden">
							<div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 120px; width: 120px">
								<img class="uk-position-center" src="img/p-7.jpg" alt="">
							</div>	 
						</div>
						Комбинированная квадратная коробочка
					</a>   
				</li>
			</ul>

			<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-top"></ul>			
		</div>
	</div><!--/productsSlider-->
</div><!--/productsBlock-->

