<div class="uk-container uk-flex uk-flex-wrap">
    <div class="uk-width-1-1 uk-width-auto@s uk-text-center uk-margin-bottom uk-margin-right uk-margin-small-top">
        <a class="uk-transition-toggle uk-text-break" href="product-page.html">
            <div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 150px; width: 150px; overflow:hidden" >
                <img class="uk-position-center" src="img/pp-4.jpg" alt="">
            </div>	 
        </a>
    </div>
    
    <div class="uk-width-1-1 uk-width-expand@s"> 
        <a class="uk-text-default uk-hidden@s uk-margin-small-right" href="product-page.html">Планетарный миксер KitchenAid Professional 1.3 HP 5KSM7990XEWH белый</a>
        <a class="uk-display-block uk-text-medium uk-text-truncate uk-visible@s" href="product-page.html" uk-hidden>Планетарный миксер KitchenAid Professional 1.3 HP 5KSM7990XEWH белый</a>

        <div class="uk-text-medium uk-margin-small-bottom">54 000 у.е./шт.</div>
        <div class="uk-margin-bottom uk-visible@s" style="min-height:40px" uk-hidden>Промышленные вакуумные шприцы-наполнители предназначены для набивки любой оболочки колбас-ным фаршем или пастообразными продуктами в условиях вакуума, широко используются мясоперерабатывающими предприятиями.</div>
        
        <div class="uk-grid-small uk-text-small uk-visible@s" uk-hidden uk-grid>
            <div class="uk-width-1-3@s "><a href="company.html">Контракт Эквипмент, ООО</a><br>Киев</div>
            <div class="uk-flex uk-width-2-3@s" uk-flex>
                <div class="uk-width-1-2 uk-text-right"><a href="company.html">+380 (44) 362 4990</a><br><a href="company.html"> +380 (93) 565 9353</a></div>
                <div class="uk-width-1-2 uk-text-right">
                    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal-mail-product">Надіслати запит</button>
                </div>
            </div>
        </div>
    </div>
</div>
