<!-- Products adv block -->
<div uk-slider>    
    <div class="uk-container uk-position-relative uk-visible-toggle" tabindex="-1">
        <div class="uk-padding-small uk-padding-remove-horizontal">
            <div class="uk-text-muted uk-margin-small-bottom">Рекомендовані</div>
            <ul class="uk-slider-items uk-grid uk-grid-small " uk-height-match="target: > li > a > .uk-card">
                <li class="uk-width-5-6 uk-width-1-3@s">
                    <a class="uk-transition-toggle" href="product-page.html">
                        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-text-center">
                            <div class="uk-text-center uk-margin-bottom" style="overflow:hidden">
                                <div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 140px; width: 140px">
                                    <img class="uk-position-center" src="img/pp-7.png" alt="">
                                </div>	 
                            </div>
                            Ротаційна піч BDFM 2100

                            <div class="uk-text-bold">51 000 евро</div>  
                        </div> 
                    </a>      
                </li>

                <li class="uk-width-5-6 uk-width-1-3@s">
                    <a class="uk-transition-toggle" href="product-page.html">
                        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-text-center">
                            <div class="uk-text-center uk-margin-bottom" style="overflow:hidden">
                                <div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 140px; width: 140px">
                                    <img class="uk-position-center" src="img/pp-5.jpg" alt="">
                                </div>	 
                            </div>
                            Колеса Cерия 10 из стандартной резины для транспортировочного оборудования

                            <div class="uk-text-bold">51 000 евро</div>  
                        </div> 
                    </a>      
                </li>

                <li class="uk-width-5-6 uk-width-1-3@s">
                    <a class="uk-transition-toggle" href="product-page.html">
                        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-text-center">
                            <div class="uk-text-center uk-margin-bottom" style="overflow:hidden">
                                <div class="uk-inline uk-transition-scale-up uk-transition-opaque" style="height: 140px; width: 140px">
                                    <img class="uk-position-center" src="img/pp-2.png" alt="">
                                </div>	 
                            </div>
                            Ротаційна піч BDFM 2100

                            <div class="uk-text-bold">51 000 евро</div>  
                        </div> 
                    </a>      
                </li>
            </ul>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-small-bottom"></ul>
    </div> 
</div><!--/block-->